body {
  margin: 0;
  font-family: courier,sans-serif;
  background : linear-gradient(89deg ,#FF5EDF 0%,#04D8CE 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center{
  display : flex;
  justify-content : center;
}
button{
  cursor:pointer;
}
